/* Styling for the navigation bar */
.navbar {
  width: 100%;
  background-color: rgba(0, 0, 0, 0); /* Completely transparent background color */
  /* Add background color with some transparency */
  position: fixed; /* Fixed position to keep it at the top */
  top: 0;
  left: 0;
  right: 0;
  z-index: 999; /* Ensure it's above other elements */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
}

.logo {
  width: 120px; /* Adjust the logo width */
  cursor: pointer;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar ul li {
  margin: 0 20px; /* Add spacing between nav items */
}

.navbar ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-weight: 600;
  transition: 0.3s; /* Add transition for smoother hover effect */
}

.navbar ul li a:hover {
  color: #3498db; /* Change color on hover */
}
/* Styling for the Earth element */
.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #f0f0f0;
  position: relative; 
  justify-content: center;
  align-items: center;
  margin-left:85vh;
  margin-top: 30vh;
  margin-bottom: 30vh;
  display: flex;
 
  background-size: cover;
background-repeat: no-repeat;
background-position: center center;
}
body{
  background-size: cover;
background-repeat: no-repeat;
background-position: center center;
background-color: rgba(255, 255, 255, 0);
transition: background-image 10s ease-in-out;


}
.circle h1{
  text-align: center;
  align-items: center;
  font-weight: bold;
  font-style: italic;
  font-family: fantasy;
}

.btn {
  width: 50px; 
  height: 50px;
  border-radius: 50%; 
  background-color: #3498db; 
  color: #fff; 
  border: none;
  cursor: pointer; 
  outline: none; 
  position: absolute; 
}

/* Position buttons in the corners */
.top-left {
  top: 0;
  left: 0;
}

.top-right {
  top: 0;
  right: 0;
}

.bottom-left {
  bottom: 0;
  left: 0;
}

.bottom-right {
  bottom: 0;
  right: 0;
}


.btn:hover {
  background-color: #2980b9;
}

